{% extends "baseadmin.html.twig" %}
{% block body %} 
    <form class="form-inline mt-1" method="POST" action="{{ path('admin.categorie.ajout') }}">
        <div class="form-group mr-1 mb-2">
            <input type="text" class="sm" name="name">
            <button type ="submit" class="btn btn-primary mb-2 btn-sm">Ajouter </button>
        </div>
    </form>
        <table class="table table-striped">
            <caption></caption>
            <thead>
                <tr>
                    <th>
                        Nom des categories :
                    </th>
                </tr>
            </thead>
            <tbody>


          <div class="form-group mr-1 mb-2">
            {% for k in 0..categories|length-1 %}
                <tr class="align-middle">
                    <td>
                        {{ categories[k].name }}
                    </td>
                    <td class="text-end">
                    {% if categories[k].formations|length == 0 %}
                        <a href="{{ path('admin.categorie.suppr', {id:categories[k].id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette categorie : {{categories[k].name}} ?')">Supprimer</a>
                    {% endif %}
                    </td>        
                </tr>
            {% endfor %}
                   </div>

        </tbody>
    {% endblock %}