{% extends "baseadmin.html.twig" %}
{% block body %}
    <h2>Détail de la playlist : </h2>
    {{ include ('_admin.playlist.form.html.twig') }}
     <div class="col">
         <h2>Liste des formations concernant cette playlist: </h2>
            <!-- boucle sur l'affichage des formations -->
            {% for formation in playlist.formations %}
                <div class="row mt-1">
                    <div class="col d-flex align-items-center">
                        <a href="{{ path('formations.showone', {id:formation.id}) }}" 
                           class="link-secondary text-decoration-none">
                            {{ formation.title }}
                        </a>          
                    </div>
                </div>
            {% endfor %}

{% endblock %}

